.water{
    border-bottom:solid;
     border-color:black;
     margin: 10px;
     padding: 10px;
 }
 body {
     background-image: url('https://community-cdn-digitalocean-com.global.ssl.fastly.net/variants/hNQEpv1uR5UdRen5xP9Cjxez/035575f2985fe451d86e717d73691e533a1a00545d7230900ed786341dc3c882');
    background-size:cover;
    background-repeat:no-repeat;
 }
 html {
     height: 100%
   }